/* Resposive design for desktop view */
@media only screen and (min-width: 480px) {
    ul{  
        list-style: none;
        float: right;
    }

    li {
        display: inline;
        margin: 2rem;
    }

    li a {
        color: ivory;
        font-size: 1.3em;
    }
}

/* Resposive design for mobile view */
@media only screen and (max-width: 480px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    ul {
        flex-direction: column;
        width: 100%;
        list-style: none;   
    }
    
    li {
        text-align: center;
        margin: 2rem;   
    }
    
    li a {
        color: ivory;
        font-size: 1.3em;
        display: block;
    }
}

#div-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0.5rem;
    border: solid white;
    margin: 0.5rem;
    background-color: skyblue;
    position: relative;
    text-align: center;
}

#banner {
    object-fit: contain;
    min-width: 100%;
    min-height: 100%;
}
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered p{
    font-size:1.5em;
    color: azure;
}

#content1 article,#content2 article,#content3 article {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0.5rem;
    border: solid 0.5rem skyblue;
    margin: 0.5rem;
}

#victoria {
    object-fit: contain;
    min-width: 100%;
    min-height: 100%;
} 

#tasmania {
    object-fit: contain;
    min-width: 100%;
    min-height: 100%;
} 

#nt{
    object-fit: contain;
    min-width: 100%;
    min-height: 100%;
} 

footer p {
    text-align: center;
}

